@using MvcPager;
@using WEF.MvcPager;
@using Libraries;
@model PagedList<WebBaseFrame.Models.DictionaryType>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="checkbox-column">
                <input type="checkbox" name="checkall" onchange="selectall(this,'ID')" />
            </th>
            <th class="sorting" data-sort="ID">序号</th>
            <th class="sorting" data-sort="Name">数据字典分类名称</th>
            <th class="sorting" data-sort="Memo">备注</th>

            <th class="btns-column">
                操作
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="checkbox-column">
                    <input type="checkbox" name="ID" value="@item.ID" />
                </td>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.Memo</td>

                <td class="btns-column">
                    <a class="icol-magnifier tip colorbox" title="查看字典" href="/admin/Dictionary/Index?DictionaryTypeID=@item.ID"></a>
                    @Html.EditButton("编辑", "/admin/DictionaryType/Edit", new { href = "/admin/DictionaryType/Edit?id=" + item.ID })
                    @Html.DeleteButton("删除", "/admin/DictionaryType/Delete", new { href = "javascript:void(0);", onclick = "Delete('/admin/DictionaryType/Delete/" + item.ID + "',this,'one');" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="dt_footer fixed">
    <div class="row-fluid">
        <div class="span4">
            <div class="dataTables_info" id="DataTables_Table_0_info">
                @Model.CurrentPageIndex/@Model.TotalPageCount 页, 共@(Model.TotalItemCount)条记录
            </div>
        </div>
        <div class="span8">
            <div class="pagination">@Html.Pager(Model)</div>
        </div>
    </div>
</div>
@Html.PermissionValideScript()