@model WebBaseFrame.Models.PermissionMap
<div class="control-group">
    <label class="control-label">SortID</label><div class="controls padt5">@Model.SortID</div>
</div>
<div class="control-group">
    <label class="control-label">MID</label><div class="controls padt5">@Model.MID</div>
</div>
<div class="control-group">
    <label class="control-label">Name</label><div class="controls padt5">@Model.Name</div>
</div>
<div class="control-group">
    <label class="control-label">Description</label><div class="controls padt5">@Model.Description</div>
</div>
<div class="control-group">
    <label class="control-label">IsBasic</label><div class="controls padt5">@Model.IsBasic</div>
</div>
